.outermostContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fffbfb !important;
    width: 100vw;
    justify-content: start;
}

.dark {
    background-color: #1a1a1a !important;
}


